################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Arquivos Disponibilizados
/Hackaixa.Site/bin
/Hackaixa.Site/obj/Debug
/Hackaixa.Site/favicon.ico
