@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-6">
    <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">Consultar</a> / <a href="#" class="alert-link">Extrato</a>
    </div>

    <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">Transferências</a> / <a href="#" class="alert-link">Entre Contas Caixa</a>
    </div>

    <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">Cartão de Crédito</a> / <a href="#" class="alert-link">Fatura</a>

    </div>
</div>

<div class="col-md-6">
    <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">Transações</a> / <a href="#" class="alert-link">Efetivadas</a>

    </div>

    <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">Transferências</a> / <a href="#" class="alert-link">DOC</a>

    </div>

    <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">Pagamentos</a> / <a href="#" class="alert-link">Com códigos de Barras</a> / <a href="#" class="alert-link">Boleto de Cobrança</a>

    </div>
</div>